@model ShadowGate.Core.Model.Game
<div id="current-list-items">
    <div id="current-list-header">
        <div id="torch1"><div id="flame1"></div></div>
            <h3>Goods</h3>
        <div id="torch2"><div id="flame2"></div></div>    
    </div>
    <div id="current-list-container">
        <ul id="current-list"></ul>
    </div>
</div>