@model ShadowGate.Core.Model.Game
<div id="game-test-buttons">  
    <div>
      <h2>ShadowGate Testing</h2>
      <p><strong>Game Id:</strong> @Model.GameId</p>
      <p id="game-test-buttons-output"></p>
    </div>         
    <div>
        <form id="frm-test-game-list-items">
	        <input type="submit" value="get goods list" class="button"/>
        </form>
        <input type="button" value="switch ctl pnl" class="button" id="frm-test-game-control-window" />
        <input type="button" value="torch" class="button" id="frm-test-game-control-torch" /><br/>
        <input type="text" style="width:20px;" id="frm-test-room-number" value="1" /><input type="button" value="room" class="button" id="frm-test-game-load-room" />
    </div>
</div>